apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault
spec:
  provider:
    vault:
      server: "http://192.168.1.4:8200"
      path: "secrets"
      version: "v1"
      auth:
        tokenSecretRef:
          name: "vault-token"
          namespace: external-secrets
          key: "token"
