apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pxc-db
  namespace: pxc
spec:
  interval: 30m
  chart:
    spec:
      chart: pxc-db
      version: "1.18.0"
      sourceRef:
        kind: HelmRepository
        name: percona
        namespace: pxc
      interval: 12h

  values:
    backup:
      storages:
        backup-pxc-db:
          type: filesystem
          volume:
            persistentVolumeClaim:
              storageClassName: nfs-csi
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 1Gi
    unsafeFlags:
      proxySize: true
      pxcSize: true
    pxc:
      size: 1
      persistence:
        size: 1Gi
        storageClass: "local-path"
    haproxy:
      size: 1
