# tofu/talos/machine-config/worker.yaml.tftpl
machine:
  kubelet:
    extraArgs:
      rotate-server-certificates: true
  # hostname comes from the Proxmox cloud-init drive (VM name); Talos 1.13+
  # rejects setting it here as well
  nodeLabels:
    topology.kubernetes.io/region: ${cluster_name}
    topology.kubernetes.io/zone: ${node_name}
